/* Global Styles */
body {
    margin: 0 5%;
}

/* Header */
header, .container, .project-container {
    display: flex;
    align-items: center;
}

.project-container {
    margin: 30px 0 60px;
    text-align: justify;
}

.biography {
    flex: 1;
    margin-left: 20px;
    font-size: 0.8rem;
}

nav ul, footer ul {
    font-family: 'Garamond';
    padding: 0;
    list-style: none;
    font-weight: bold;
    margin: 0;
}

nav ul li, footer ul li {
    display: inline;
}

/* Navigation */
nav {
    position: absolute;
    top: 1;
    right: 0;
    margin-right: 5%;
    margin-top: 60px;
}

a {
    text-decoration: none;
    color: #999;
    margin: 0 10px;
    font-size: 2rem;
}

a:hover {
    text-decoration: underline;
}

.link-inside {
    color: blue;
    margin: 0;
}

/* Headings */
h1 {
    font-size: 3rem;
    font-family: 'Georgia';
    margin-bottom: 0;
}

h2, h3 {
    font-size: 1.8rem;
    font-family: 'Serif';
    margin-bottom: 10px;
    align-self: normal;
    text-decoration: none;
    font-weight: normal;
    display: inline;
}

h3 {
    font-size: 1.2rem;
    float: right;
}

/* Paragraphs */
p {
    font-size: 1rem;
    line-height: 1.4rem;
    color: #333;
}

/* Footer */
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.8rem;
}

/* Lists */
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5rem;
}

ul.posts li {
    list-style: none;
}

/* Images */
.personal-image, .project-image {
    max-width: 350px;
    width: 100%;
    margin-left: 40px;
}

.project-image {
    margin-right: 20px;
}
